<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.reviews %></p>
<%= link_to "Write a new review for this restaurant", new_restaurant_review_path  %>
<%= link_to "Back to list", restaurants_path  %>
